body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.tabsWrapper {width: 100%; height: 1000px;}
.titleHeading {text-align: center}
#tabs {margin-top:10px;}
table td, table th {text-align: center;}
