doctype html
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/dojo-release-1.14.1/dgrid/css/dgrid.css')
    link(rel='stylesheet', href='/dojo-release-1.14.1/dijit/themes/claro/claro.css')
    script(src='/dojo-release-1.14.1/dojo/dojo.js')
    script(src='/javascripts/script.js')
  body.claro
    h1.titleHeading Inventory Management System
    span DB connection status: #{dbConnection}
    div.tabsWrapper
      #tabs