doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')

    link(rel='stylesheet', href='/dojo-release-1.13.0/dojo/resources/dojo.css')
    link(rel='stylesheet', href='/dojo-release-1.13.0/dijit/themes/claro/claro.css')
    link(rel='stylesheet', href='/dojo-release-1.13.0/dojox/widget/Calendar/Calendar.css')
    link(rel='stylesheet', href='/dojo-release-1.13.0/dojox/grid/enhanced/resources/claro/EnhancedGrid.css')
    link(rel='stylesheet', href='/dojo-release-1.13.0/dojox/form/resources/CheckedMultiSelect.css')
    link(rel='stylesheet', href='/dojo-release-1.13.0/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css')
    script(src='/javascripts/jquery-1.12.4.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/script.js')
    script(src='/dojo-release-1.13.0/dojo/dojo.js')
  body.claro
    block content
